<div id="question<%= question[1] %>">
  <div class="content"><a href="https://stackoverflow.com/questions/<%=question[1]%>" target="_blank"> <%= question[3] %></a></div>
  <div class="user"><%= (question[0].split("|")).join(" ") %></div>
  <div><%= question[2] %></div>
</div>
