<div class="container"> 
	<div class="row">
    <div class="col-2">
      <%= render 'profile/profile' %>
    </div>
    <div class="col-6">
      <%= render @paginatable_array %>
			<%= paginate @paginatable_array %>
    </div>
    <div class="col-2">
    </div>
	</div>
</div>
