<% @final_data['items'].each do |post| %>
  <div class="card">
    <h5 class="card-header"><%= post['question'] %></h5>
    <div class="card-body">
      <a href="https://stackoverflow.com/a/<%= post['answer_id'] %>">Your answer: <%= post['score'] %></a>
      <a href="https://stackoverflow.com/a/<%= post['highest_score_id'] %>">Highest score answer: <%= post['highest_score'] %></a>	   
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <% if post['similar_questions']['items'] and post['similar_questions']['items'].count > 0 %>
            <%= post['similar_questions']['items'][0]['title'].html_safe %><%= link_to "Next", questions_similar_path(question_id: post['question_id']), class: "card-link" %>
          <% end %>
        </li>
        <li class="list-group-item">
          <% if  post['related_questions']['items'] and post['related_questions']['items'].count > 0 %>
            <%= post['related_questions']['items'][0]['title'].html_safe %><%= link_to "Next", questions_explore_path(question_id: post['question_id']), class: "card-link" %>
          <% end %>
        </li>
      </ul>
      <%= link_to "Learn", questions_similar_path(question_id: post['question_id']), class: "card-link" %>
      <%= link_to "Explore", questions_explore_path(question_id: post['question_id']), class: "card-link" %>
    </div>
  </div>
<% end %>


