<% @related_questions['items'].each do |post| %>
	<div class="card">
	  <h5 class="card-header"><a href="https://stackoverflow.com/questions/<%=post['question_id']%>" target="_blank"><%= post['title'] %></h5>
	  <div class="card-body">
	    <%= link_to "Learn", questions_similar_path(question_id: post['question_id']) %>
	    <%= link_to "Explore", questions_explore_path(question_id: post['question_id']) %>
	  </div>
	</div>
<% end %>