<form class="form-inline my-2 my-lg-0">
	<%= form_for :question do |f|%>
	  <%= f.text_field :id, class: "form-control mr-sm-2", placeholder: 'Search' %>
	  <%= f.submit "Search",  class: "btn btn-outline-success my-2 my-sm-0"%>
  <% end %>