<div class="card">
  <h5 class="card-header">Tag: 
    <span><%= linked_tag.tag%> 
    <% if current_user.following?(Tag.find(linked_tag.tag_id)) %>
      <%= button_to "Unfollow", tags_unfollow_path(id: linked_tag.tag_id), id: "unfollow_#{linked_tag.tag_id}", remote: true %>
    <% else %>
      <%= button_to "Follow", tags_follow_path(id: linked_tag.tag_id), id: "follow_#{linked_tag.tag_id}", remote: true %>
    <% end %>
    </span>
  </h5>
  <div class="card-body">
    <div class="d-flex p-2"><a href="https://stackoverflow.com/questions/<%=linked_tag.related_tag_id%>" target="_blank">
        <%= LinkedQuestion.find_by(related_post_id: linked_tag.related_tag_id).title.html_safe %></a>
    </div>
    <%= link_to "Learn", questions_similar_path(question_id: linked_tag.related_tag_id) %>
  </div>
</div>
