<div class="container"> 
  <div class="row">
    <div class="col-2">
      <%= form_tag tags_path, method: :get do %>
        <%= text_field_tag 'name', params[:name], placeholder: "Enter tag" %>
        <%= submit_tag 'Search!' %>
      <% end %>
    </div>
    <div class="col-6">
      <ul class="list-group">
        <% @tags.each do |tag| %>
          <li><%= link_to tag.name, tag, class: "list-group-item" %>
          <%= button_to "Unfollow", tags_unfollow_path(id: tag.id), id: "unfollow_#{tag.id}", remote: true %></li>
          <%= button_to "Follow", tags_follow_path(id: tag.id), id: "follow_#{tag.id}", remote: true, :style => "display: none;" %></li>
      <% end %>
      </ul>
      <%= paginate @tags %>
    </div>
    <div class="col-2">
      <% if @user_following_tags %>
        <% @user_following_tags.each do |tag| %>
          <li><%= link_to tag.name, tag, class: "list-group-item" %>
          <%= button_to "Unfollow", tags_unfollow_path(id: tag.id), id: "unfollow_#{tag.id}", remote: true %></li>
          <%= button_to "Follow", tags_follow_path(id: tag.id), id: "follow_#{tag.id}", remote: true, :style => "display: none;"%>
          </li>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

