<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <h5 class="card-header">Tag: <span><%= @name%></span>, Score: <%=  @final_data['data']['score'] %>, Count: <%= @final_data['data']['count'] %></h5>
        <div class="card-body">
          <div class="d-flex p-2"><a href="https://stackoverflow.com/questions/<%=@final_data['data']['id']%>" target="_blank">
              <%= LinkedQuestion.find_by(related_post_id: @final_data['data']['id']).title %></a></div>
        </div>
      </div>

      <% @final_data['related_tags'].each do |key, value| %>
        <% key.each do |v1, v2| %>
          <div class="card">
            <h5 class="card-header">Tag: <span><%= v1%></span>, Score: <%=  v2['score'] %>, Count: <%= v2['count'] %></h5>
            <div class="card-body">
              <div class="d-flex p-2"><a href="https://stackoverflow.com/questions/<%=v2['id']%>" target="_blank">
                  <%= LinkedQuestion.find_by(related_post_id: v2['id']).title %></a></div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm">
      Top Questions:
        
    </div>
    <div class="col-sm">
      <ul class="list-group">
        <% @final_data['related_tags'].each do |key| %>
         <li class="list-group-item"> <%= key.keys()[0]%> Count: <%= key.values()[0]['count'] %> Score: <%=  key.values()[0]['score'] %></li>
        <% end %>
      </ul> 
    </div>
  </div>
</div>
