
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello <%= @user %>,</p>

    <table border = 1>
        <% for row in @final_data['results'] %>
           <tr>
              <td> <%= row[1] %> </td>
              <td> <%= row[2] %> </td>
              <td><a href="https://stackoverflow.com/questions/<%row[0]%>" target="_blank">See question</a></td>
           </tr>
        <% end %>
     </table>


     <table border = 1>
         <% for row in @final_data['results1'] %>
            <tr>
               <td> <%= row[1] %> </td>
               <td> <%= row[2] %> </td>
               <td><a href="https://stackoverflow.com/questions/<%row[0]%>" target="_blank">See question</a></td>
            </tr>
         <% end %>
      </table>

          <table border = 1>
             <% for n in @final_data['num'] %>
                <tr>
                   <th> <%= n %> </th>
                   <td> <%= @final_data['v1'][n] %> </td>
                </tr>
             <% end %>
          </table>
  </body>
</html>
