<ul class="list-group">
	<% @tags.each do |tag| %>
	  <li><%= link_to tag.name, tag, class: "list-group-item" %>
	  	<%= button_to "Unfollow", tags_unfollow_path(id: tag.id), id: "unfollow_#{tag.id}", remote: true %></li>
	  	<%= button_to "Follow", tags_follow_path(id: tag.id), id: "follow_#{tag.id}", remote: true, :style => "display: none;" %></li>
	 <% end %>
</ul>